# Set
Sets are:
- Unordered
- Unchangeable `<but values can be deleted or added>`
- Unindexed
- Do not allow duplicate values
- Multiple datatype are allowed

In [1]:
set1 = {5, 4, 6, 2, 3, 1, 2, 5}
print(set1)

{1, 2, 3, 4, 5, 6}

Access set

In [2]:
for i in set1:
    print(i, end=" ")

1 2 3 4 5 6

## Add new value

### add method

In [3]:
set1.add(7)
print(set1)

{1, 2, 3, 4, 5, 6, 7}

### Update method
To add items from another set into the current set, use the `update()` method.

In [4]:
set2 = {10 , 8 ,9}

set1.update(set2)

print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Add Any Iterable
The object in the `update()` method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [5]:
list1 = [20, 19, 17, 18]

set1.update(list1)

print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 17, 18, 19, 20}

## Remove Set Items

### Remove method
To remove an item in a set, use the remove(), or the discard() method.
> **Note 1:** If the item to remove does not exist, remove() will raise an error.

In [6]:
set1.remove(20)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 17, 18, 19}

> **Note 2:** If the item to remove does not exist, discard() will NOT raise an error.

In [7]:
set1.discard(19)

print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 17, 18}

### Pop method
You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.  
The return value of the pop() method is the removed item.

In [8]:
print(set1.pop())
print(set1)

1
{2, 3, 4, 5, 6, 7, 8, 9, 10, 17, 18}

In [9]:
print(set1.pop())
print(set1)

2
{3, 4, 5, 6, 7, 8, 9, 10, 17, 18}

In [10]:
print(set1.pop())
print(set1)

3
{4, 5, 6, 7, 8, 9, 10, 17, 18}

### Clear method
Clears the set, removes all elements

In [11]:
set2.clear()
print(set2)

set()

### Delete method
`del` method completely deletes the set

## Join Sets

### Union method
You can use the `union()` method that returns a new set containing all items from both sets

In [12]:
s1 = {1, 2, 3}
s2 = {4, 5, 6}
s3 = s1.union(s2)
print(s3)

{1, 2, 3, 4, 5, 6}

### Update method
The update() method that inserts all the items from one set into another.  
> Both union() and update() will exclude any duplicate items.

In [13]:
s1 = {1, 2, 3}
s2 = {4, 5, 6}
s1.update(s2)

print(s1)

{1, 2, 3, 4, 5, 6}

### Intersection Update
The `intersection_update()` method will keep only the items that are present in both sets.

In [14]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

s1.intersection_update(s2)

print(s1)

{4, 5}

### Intersection
The `intersection()` method will return a new set, that only contains the items that are present in both sets.

In [15]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

s3 = s1.intersection(s2)

print(s3)

{4, 5}

### Symmetric difference update
The `symmetric_difference_update()` method will keep only the elements that are NOT present in both sets.

In [16]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

s1.symmetric_difference_update(s2)

print(s1)

{1, 2, 3, 6, 7, 8}

### Symmetric Difference
The `symmetric_difference()` method will return a new set, that contains only the elements that are NOT present in both sets.

In [17]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

s3 = s1.symmetric_difference(s2)

print(s3)

{1, 2, 3, 6, 7, 8}

## Set Methods
|Method|Description|
|------|-----------|
|add()|Adds an element to the set|
|clear()|Removes all the elements from the set|
|copy()|Returns a copy of the set|
|difference()|Returns a set containing the difference between two or more sets|
|difference_update()|Removes the items in this set that are also included in another, specified set|
|discard()|Remove the specified item|
|intersection()|Returns a set, that is the intersection of two other sets|
|intersection_update()|Removes the items in this set that are not present in other, specified set(s)|
|isdisjoint()|Returns whether two sets have a intersection or not|
|issubset()|Returns whether another set contains this set or not|
|issuperset()|Returns whether this set contains another set or not|
|pop()|Removes an element from the set|
|remove()|Removes the specified element|
|symmetric_difference()|Returns a set with the symmetric differences of two sets|
|symmetric_difference_update()|inserts the symmetric differences from this set and another|
|union()|Return a set containing the union of sets|
|update()|Update the set with the union of this set and others|

In [1]:
def digit_sum(n):
    if n == 0:
        return 0
    elif n % 9 == 0:
        return 9
    else:
        return n % 9

# Example usage:
number = 19
print("Sum of digits:", digit_sum(number))

Sum of digits: 1